:host {
  display: block;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;

  a {
    margin: 0 8px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
